<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>모두의 일퀘 - 챌린지 리스트</title>
        <link href="/main_style.css" rel="stylesheet">
    </head>
    <body>
    <header>
        <nav>
            <ul>
                <li>홈페이지</li>
                <li>챌린지 리스트</li>
                <li>커뮤니티</li>
                <li><a href= "/login">로그인</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="challenge-list">
            <h1 style="text-align: center;">챌린지 리스트</h1>

            <% for(let i = 0; i < 챌린지.length; i++) { %>
            <div class="challenge-card">
                <h2><%= 챌린지[i].title %></h2>
                <p>참여인원 : <%= 챌린지[i].participants %>명</p>
                <button onClick="location.href='/challenge_detail/<%= 챌린지[i]._id %>'">참여하기</button>
            </div>
            <% } %>

        </section>
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
            <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
        </svg>
    </main>

    <footer>
        <p>© 2024 모두의 일퀘. All rights reserved.</p>
    </footer>
    </body>
</html>
