<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원가입 - 모두의 일퀘</title>
<link rel="stylesheet" href="/signup_style.css">
</head>
<body>
<div class="login-container">
    <form class="login-form">
        <h2>회원가입</h2>
        <div class="input-group">
            <label for="username">사용자 이름</label>
            <input type="text" id="username" name="username" required>
            <button type="submit" id="username_check">중복체크</button>
        </div>
        <div class="input-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
            <label for="password">비밀번호 확인</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">회원가입</button>
    </form>
</div>
</body>
</html>
