body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px 0;
}

nav {
    background-color: #007bff; /* 네비게이션 배경색 변경 */
    color: #ffffff;
    padding: 20px 0;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 999;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.challenge-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.challenge-photo img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-bottom: 1px solid #eeeeee;
}

.participant-list h3 {
    margin-top: 20px;
}

.participant-list ul {
    list-style-type: none;
    padding: 0;
}

.participant-list li {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0;
}
.achievement-rate h3 {
    margin: 20px 0;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 3px;
}

.progress {
    background-color: #4CAF50; /* 달성률에 따라 색상을 조정할 수 있습니다 */
    text-align: right;
    padding-right: 5px;
    color: white;
    border-radius: 15px;
    height: 20px;
    width: 0%; /* JavaScript로 동적으로 변경할 수 있습니다 */
}

button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}